* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --primary-color: #4C545C;
    --second-color: #9EABB2;
    --btn-ios-color: #26BBA4;
    --btn-ios-hover: #41D8C1;
    --btn-mac-color: #6174FF;
    --btn-mac-hover: #7B68EE;
    --text-button: #FFFFFF;
    --link-hover: #CFD4D8;
}

body {
    font-size: 1.6rem;
    width: 100%;
    font-family: 'Bai Jamjuree', sans-serif;
}

h1, h2 {
    color: var(--primary-color);
}

p {
    color: var(--second-color);
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: auto;
}

header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 35.0rem;
    top: 3;
    z-index: -1;
    background-image: url(../assets/banner.png);
    opacity: 0.25;
}

.container-cabeçalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40.0rem;
}

.container-cabeçalho img {
    margin-top: 12.8rem;
    width: 12.5rem;
    height: auto;
}

.container-cabeçalho h1 {
    margin-top: 4.0rem;
    font-weight: 700;
}

.container-cabeçalho p {
    margin-top: 2.0rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.0rem;
    letter-spacing: 0.13rem;
    text-align: center;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3.0rem;
    gap: 1rem;
}

.btn-cabeçalho-ios {
    width: 15%;
    padding: 2.0rem;
    border: none;
    border-radius: 100px;
    color: white;
    font-weight: 700;
    font-size: 15px;
    background-color: #26BBA4;
    cursor: pointer;
}

.btn-cabeçalho-ios:hover {
    background-color: var(--btn-ios-hover);
}

.btn-cabeçalho-mac {
    width: 15%;
    padding: 2.0rem;
    border: none;
    border-radius: 100px;
    color: white;
    font-weight: 700;
    font-size: 15px;
    background-color: #6174FF;
    cursor: pointer;
}

.btn-cabeçalho-mac:hover {
    background-color: var(--btn-mac-hover);
}

main {
    width: auto;
}

.container-section-one {
    width: 100%;
    height: auto;
    margin-top: 10%;
}

.section-titulo-trechos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-titulo-trechos p {
    margin-top: 2.0rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.0rem;
    letter-spacing: 0.13rem;
    text-align: center;
}

.section-img-titulo-trechos {
    width: 100%;
    display: flex;
    margin-top: 6.0rem;
    gap: 5rem;
}

.section-textos-trechos h2 {
    padding-top: 4.0rem;
}

.section-textos-trechos p {
    margin-top: 2.0rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.0rem;
    letter-spacing: 0.13rem;
    text-align: left;
}

.section-titulo-transfer h1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}

.section-titulo-transfer p {
    margin-top: 2.0rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.0rem;
    letter-spacing: 0.13rem;
    text-align: center;
}

.section-img-titulo-transfer {
    position: absolute;
    width: 81.2rem;
    height: 47.5rem;
    left: 31.4rem;
    top: 164.0rem;
}

.fluxo-work-titulo h1 {
    margin-top: 60.0rem;
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 4.5rem;
    letter-spacing: -0.58rem;
    text-align: center;
}

.fluxo-work-titulo p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.0rem;
    letter-spacing: 0.13rem;
    text-align: center;

}

.section-ferramentas-work {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: baseline;
    text-align: center;
    width: 111.0rem;
    height: 21.6rem;
    margin-top: 6.0rem;
    gap: 3.0rem;
    margin-left: auto;
    margin-right: auto;
}

.section-fluxo-work h2 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.0rem;
    letter-spacing: -0.39rem;
    text-align: center;
}

.section-fluxo-work p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3.0rem;
    letter-spacing: 0.11rem;
    text-align: center;
}

.parceiros {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.parceiros img {
    display: inline-flex;
    vertical-align: middle;
    margin: 0 4.0rem;
    width: 16.5rem;
    height: 4.9rem;
    left: 16.5rem;
    top: 307.0rem;
}

.container-download {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
}

.container-download h1 {
    margin-top: 4.0rem;
    font-weight: 700;
}

.container-download p {
    width: 40%;
    margin-top: 2.0rem;
    font-size: 1.6rem;
    font-weight: 400;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3.0rem;
    gap: 1rem;
}

.btn-download-ios {
    width: 15%;
    padding: 2.0rem;
    border: none;
    border-radius: 100px;
    color: var(--text-button);
    font-weight: 700;
    font-size: 15px;
    background-color: #26BBA4;
    cursor: pointer;
}

.btn-download-ios:hover {
    background-color: var(--btn-ios-hover);
}

.btn-download-mac {
    width: 15%;
    padding: 2.0rem;
    border: none;
    border-radius: 100px;
    color: white;
    font-weight: 700;
    font-size: 15px;
    background-color: #6174FF;
    cursor: pointer;
}

.btn-download-mac:hover {
    background-color: var(--btn-mac-hover);
}

footer {
    width: 100%;
    height: 20.0rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10%;
    
}

footer::before {
    content: '';
    width: 100%;
    height: 18.5rem;
    border-radius: 4rem;
    position: absolute;
    z-index: -1;
    background: var(--second-color);
    opacity: 0.2;
}

.link-footer {
    display: flex;
    gap: 3rem;
}

.links {
    display: flex;
    flex-direction: column;
}

.links a {
    color: #4C545C;
    margin: 10px;
}

.links a:hover{
    color: var(--link-hover);
}

.social-footer {
    display: flex;
    gap: 2.4rem;
    margin: 1.0rem;
}